<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign Up </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style2.css" rel="stylesheet">
    </head>
    <body>
        <div class="signup-box">
            <h1>Sign Up</h1>
            <form>
                <label>User Name</label>
                <input type="text" placeholder="" name="username">
                <label>Email</label>
                <input type="text" placeholder="" name="email">
                <label>Phone Number</label>
                <input type="text" placeholder="" name="phone">
                <label>Password</label>
                <input type="text" placeholder="" name="password">
                <label>Confirm Password</label>
                <input type="text" placeholder="" name="confirm-password">
                <input type="button" value="Submit">
            </form>
            <p>By clicking the sign up button, you agree to our <br>
                <a href="#">Terms and Conditions</a> and <a href="#"> Policy and Privacy</a></p>
            <p class="para-2"> Already have an account? <a href="signin"> Login here</a></p>
        </div>
    </body>
</html>